    *{
		margin: 0 auto;
		padding: 0 auto;
    }
	a{
	    text-decoration: none;
	    color: #000;
	}
	.all{
		height: 2080px;
		border-right: 3px solid #ffffff;
		font-family: "微软雅黑"
	}
	.gd{
		width: 78px;
		height: 591px;
		background-color: #010808;
		position: fixed;
		top: 191px;
		right: 1px;
	}
	.gi{
		width: 68px;
		height: 116px;
		border-bottom: 2px solid #585c5a;
		margin: 0px 0px 0px 4px;
		float: left;
	}
	.gi1{
		margin: 48px 0px 0px 20px;
	}
	.gi2{
		margin: 44px 0px 0px 17px;
	}
	.h1{
		height: 188px;
		border-bottom: 4px solid  #3aa747;
	}
	.h1c{
		width: 1206px;
		height: 188px;
		margin: 0 auto;
		font-size: 14.78px;
		font-family: "微软雅黑";
	}
	.h1c1{
		width: 1206px;
		height: 30px;
		opacity: 0.8;
		float: left;
	}
	.h1i1{
		margin: 11px 1px 0px 8px;
		float: right;
	}
	.h1w1{
		width: 65px;
		height: 18px;
		margin: 7px 16px 0px 10px;
		color: #797778;
		float: right;
	}
	.h1w2{
		width: 90px;
		height: 20px;
		margin: 7px 0px 0px 0px;
		font-size: 14.78px;
		border: 0px;
		color: #797778;
		float: right;
	}
	.h1w3{
		width: 90px;
		height: 20px;
		margin: 8px 30px 0px 20px;
		color: #0d0408;
		float: right;
	}
	.h1w4{
		width: 52px;
		height: 20px;
		margin: 8px 0px 0px 20px;
		color: #0d0408;

		float: right;
	}
	.h1w5{
		width: 140px;
		height: 20px;
		font-size: 12.93px;
		color: #797778;
		margin: 9px 0px 0px 520px;
		float: right;
	}
	.h1c2{
		width: 1206px;
		height: 122px;
		float: left;
	}
	.h1i2{
		margin: 33px 175px 24px 0px;
		float: left;
	}
	.h1s{
		width: 600px;
		height: 46px;
		margin: 50px 150px 25px 0px;
		border: 1px solid #000000;
		float: left;
	}
	.h1s1{
		width: 537px;
		height: 44px;
		border: 0px;
		opacity: 0.2;
		text-align: center;
		border-right: 2px solid #cccccc;
		float: left;
	}
	.h1s2{
		width: 60px;
		height: 45px;
		border: 0px;
		float: left;
	}
	.h1s3{
		width: 40px;
		height: 40px;
		margin: 3px 0px 0px 9px;
	}
	.h1i3{
		margin: 62px 0px 0px 0px;
		float: left;
	}
	.h1c3{
		width: 1206px;
		height: 36px;
		float: left;
	}
	.h1w6{
		width: 125px;
		height: 30px;
		color: #050505;
		border: 0px;
		margin: 0px 0px 6px 12px;
		float: left;
	}
	.h1w7>ul>li{
		display: inline-block;
		width: 66px;
		height: 33px;
		line-height: 30px;
		margin: 0px 46px 0px 5px;
		text-align: center;
		line-height: center;
		float: left;
	}
	.h1w8{
		display: inline-block;
		width: 65px;
		height: 33px;
		line-height: 30px;
		text-align: center;
		line-height: center;
		float: left;
	}
	.h1w7>ul>li:hover{
		border-bottom: 3px solid #3aa747;
	}
	.h1w8:hover{
		border-bottom: 3px solid #3aa747;
	}
	.h2{
		height: 669px;
		border-bottom: 2px solid #7f7f7f;
		background-image: url(imgs/banner.png);
	}
	.h3{
		height: 1017px;
	}
	.h3c{
		width: 1206px;
		height: 1017px;
		margin: 0 auto;
	}
	.h3w1{
		width: 45px;
		height: 20px;
		margin: 19px 10px 23px 33px;
		font-size: 18px;
		float: left;
	}
	.h3w2{
		width: 57px;
		height: 20px;
		margin: 23px 920px 25px 0px;
		font-size: 14px;
		color: #5c5a5a;
		float: left;                               
	}
	.h3w3{
		width: 130px;
		height: 16px;
		margin: 32px 1px 5px 0px;
		font-size: 14px;
		opacity: 0.6;
		float: right;
	}
	.h3t1{
		width: 1194px;
		height: 44px;
		border: 1px solid #b7b7b7;
		font-size: 16px;
		margin: 0px 0px 0px 6px;
		float: left;
	}
	.h3t2{
		width: 1194px;
		height: 44px;
		border: 1px solid #b7b7b7;
		border-top: 0px;
		font-size: 16px;
		margin: 0px 0px 0px 6px;
		float: left;
	}
	.h3t3{
		width: 99px;
		height: 44px;
		background-color: #e5e5e5;
		float: left;
	}
	.h3t4{
		width: 120px;
		height: 44px;
		opacity: 0.7;
		float: left;
	}
	.h3w4{
		width: 52px;
		height: 20px;
		margin: 10px 0px 0px 30px;
		font-size: 16px;
	}
	.h3t5{
		width: 120px;
		height: 44px;
		opacity: 0.7;
		float: right;
	}
	.c{
		color: #3aa747;
	} 
	.h3w5{
		margin: 5px 0px 1px 0px;
		color: #ffffff;
		font-size: 14.83px;
		text-align: center;
	}
	.h3w6{
		color: #ffffff;
		font-size: 14.83px;
		text-align: center;
	}
	.h3w7{
		margin: 120px 0px 20px 0px;
		color: #ffffff;
		font-size: 22.14px;
		text-align: center;
	}
	.h3w8{
		color: #ffffff;
		font-size: 22.14px;
		text-align: center;
	}
	.h3t6{
		position: relative;
		width: 272px;
		height: 293px;
		background-image: url(imgs/img1.png);
		background-repeat: no-repeat;
		background-position: center;
		border: 1px solid #888888;
		margin: 60px 29px 32px 16px;
		float: left;
	}
	.h3t61{
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t6:hover .h3t61{
		display: none;
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t62{
		display: none;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t6:hover .h3t62{
		display: inline;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t7{
		position: relative;
		width: 272px;
		height: 293px;
		background-image: url(imgs/img2.png);
		background-repeat: no-repeat;
		background-position: right;
		border: 1px solid #888888;
		margin: 60px 29px 32px 0px;
		float: left;
	}
	.h3t71{
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t7:hover .h3t71{
		display: none;
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t72{
		display: none;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t7:hover .h3t72{
		display: inline;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t8{
		position: relative;
		width: 272px;
		height: 293px;
		background-image: url(imgs/img3.png);
		background-repeat: no-repeat;
		background-position: center bottom;
		bottom: 0px;
		border: 1px solid #888888;
		margin: 60px 29px 32px 0px;
		float: left;
	}
	.h3t81{
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t8:hover .h3t81{
		display: none;
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t82{
		display: none;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t8:hover .h3t82{
		display: inline;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t9{
		position: relative;
		width: 272px;
		height: 293px;
		background-image: url(imgs/img4.png);
		background-repeat: no-repeat;
		background-position: center bottom;
		bottom: 0px;
		border: 1px solid #888888;
		margin: 60px 0px 32px 0px;
		float: left;
	}
	.h3t91{
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t9:hover .h3t91{
		display: none;
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t92{
		display: none;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t9:hover .h3t92{
		display: inline;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t10{
		position: relative;
		width: 272px;
		height: 293px;
		background-image: url(imgs/img5.png);
		background-repeat: no-repeat;
		background-position: center;
		right: 0px;
		bottom: 0px;
		border: 1px solid #888888;
		margin: 0px 29px 125px 16px;
		float: left;
	}
	.h3t101{
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t10:hover .h3t101{
		display: none;
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t102{
		display: none;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t10:hover .h3t102{
		display: inline;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t11{
		position: relative;
		width: 272px;
		height: 293px;
		background-image: url(imgs/img6.png);
		background-repeat: no-repeat;
		background-position: right;
		right: 0px;
		bottom: 0px;
		border: 1px solid #888888;
		margin: 0px 29px 125px 0px;
		float: left;
	}
	.h3t111{
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t11:hover .h3t111{
		display: none;
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t112{
		display: none;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t11:hover .h3t112{
		display: inline;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t12{
		position: relative;
		width: 272px;
		height: 293px;
		background-image: url(imgs/img7.png);
		background-repeat: no-repeat;
		background-position: center;
		right: 0px;
		bottom: 0px;
		border: 1px solid #888888;
		margin: 0px 29px 125px 0px;
		float: left;
	}
	.h3t121{
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t12:hover .h3t121{
		display: none;
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t122{
		display: none;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t12:hover .h3t122{
		display: inline;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t13{
		position: relative;
		width: 272px;
		height: 293px;
		background-image: url(imgs/img8.png);
		background-repeat: no-repeat;
		background-position: center;
		right: 0px;
		bottom: 0px;
		border: 1px solid #888888;
		margin: 0px 0px 125px 0px;
		float: left;
	}
	.h3t131{
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t13:hover .h3t131{
		display: none;
		width: 272px;
		height: 50px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t132{
		display: none;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h3t13:hover .h3t132{
		display: inline;
		width: 272px;
		height: 293px;
		position: absolute;
		bottom: 0px;
		opacity: 0.7;
		background-color: #000000;
	}
	.h4{
		height: 102px;
		background-color: #f5f5f5;
	}
	.h4c{
		width: 1206px;
		height: 102px;
		margin: 0 auto;
	}
	.h4t1{
		width: 290px;
		height: 47px;
		border-right: 1px solid #e0e0e0;
		margin: 28px 0px 27px 0px;
		float: left;
	}
	.h4t2{
		width: 299px;
		height: 47px;
		border-right: 1px solid #e0e0e0;
		margin: 28px 0px 27px 0px;
		float: left;
	}
	.h4t3{
		width: 310px;
		height: 47px;
		border-right: 1px solid #e0e0e0;
		margin: 28px 0px 27px 0px;
		float: left;
	}
	.h4i1{
		margin: 0px 23px 0px 40px;
		float: left;
	}
	.h4i2{
		margin: 0px 23px 0px 67px;
		float: left;
	}
	.h4w1{
		width: 78px;
		height: 20px;
		font-size: 19px;
		margin: 0px 80px 7px 0px;
		float: left;
	}
	.h4w2{
		width: 150px;
		height: 18px;
		font-size: 13px;
		float: left;
	}
	.h5{
		height: 99px;
		background-color: #323232;
	}
	.h5c{
		width: 1206px;
		height: 99px;
		margin: 0 auto;
	}
	.hc{
		font-size: 14px;
		color: #ffffff;
	}
	.h5c1{
		width: 740px;
		height: 18px;
		margin: 30px 0px 17px 235px;
		float: left;
	}
	.h5t1{
		width: 42px;
		height: 20px;
		border-right: 2px solid #ffffff;
		float: left;
	}
	.h5t2{
		width: 70px;
		height: 20px;
		margin-left: 12px;
		border-right: 2px solid #ffffff;
		float: left;
	}
	.h5t3{
		width: 84px;
		height: 20px;
		margin-left: 12px;
		border-right: 2px solid #ffffff;
		float: left;
	}
	.h5t4{
		width: 111px;
		height: 20px;
		margin-left: 12px;
		border-right: 2px solid #ffffff;
		float: left;
	}
	.h5t5{
		width: 70px;
		height: 20px;
		margin-left: 12px;
		float: left;
	}
	.h5c2{
		width: 280px;
		height: 16px;
		margin: 1px 0px 0px 464px;
		float: left;
	}